body {
  margin: 0;
}
body * {
  max-width: 100vw;
}
main {
    width: 100;
    min-height: 88vh;
    margin-top: 12vh;
    position: relative;
  }

main article, main .container {
  display: flex;
  flex-direction: column;
  display: flex;
  min-height: 80vh;
  height: 100%;
  flex-direction: column;
  gap: 5vh;
  width: 60vw;
}
.container {
  gap: 10vh;
  height: fit-content;
}
main article * {
  width: calc(60vw - 4rem);
  padding: 2rem;
}
main article p {
  margin-bottom: 20vh;
  z-index: 3;
}
main .container img, main p {
  display: block;
  max-width: 28vw;
  min-height: fit-content; 
}
main p:nth-last-child(1) {
  margin-bottom: 0;
}
main p, main h2 {
  z-index: 3;
}
main h2 {
  padding-top: 4rem;
}
main .overlay img {
  z-index: 1;
}
.overlay {
  background-color: rgba(12,12,12, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
}
last {
  margin-bottom:  0;
}
@media (max-width: 769px) {
  main {
    width: 100%;
  }
}

/* Tablet */
@media (min-width: 769px) {
}

/* Desktop */
@media (min-width: 1025px) {
  .container {
    position: relative;
    left:28vw;
  }
  main .center-text, main .side {
    position: relative;
  }
  .center-text {
    left: 26vw;
    color: var(--highlight);
  }
  .side {
    right: 26vw;
  }
}