main {
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    gap: 5vh;
    width: 60vw;
    margin: auto;  
}

main p {
    
}
main ul {
    display: grid;
    grid-template-rows: auto-fit;
    gap: 1rem;
    padding-left: 1.5rem;
    
}